In [1]:
num=[1,2,3,4,5,6,7,8]

US-1 :list with n in each n in num

In [2]:
#without Comprehension
out1=[]
for n in num:
    out1.append(n)
print(out1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
#with Comprehension
out2=[n for n in num]
print(out2)

[1, 2, 3, 4, 5, 6, 7, 8]

US-2: n*n for each n in num

In [4]:
#without Comprehension
out3=[]
for n in num:
    out3.append(n*n)
print(out3)

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
#with Comprehension
out4=[n*n for n in num]
print(out4)

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
#using map + lambda
out6=map(lambda n: n*n,num)
print(list(out6))

[1, 4, 9, 16, 25, 36, 49, 64]

US-3: list with n for each n if n is even

In [9]:
#without comp
out7=[]
for n in num:
    if n % 2 == 0:
        out7.append(n)
out7

[2, 4, 6, 8]

In [10]:
#with comp
out8=[n for n in num if n % 2 == 0]
out8

[2, 4, 6, 8]

In [11]:
#with filter + lambda
out9=filter(lambda n: n%2 == 0,num)
list(out9)

[2, 4, 6, 8]

US-4: list with (char,number) pair for each char from 'abcd' for each n in num

In [12]:
#without comp
out10=[]
for c in 'abcd':
    for n in range(4):
        out10.append((c,n))
out10

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

In [13]:
out11=[(c,n) for c in 'abcd' for n in range(4)]
out11

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

US-5 : Disctionary Comprehension

In [14]:
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']

In [15]:
#with zip
out12=zip(names,heros)
dict(out12)

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [16]:
#without zip and comp
out13={}
for name,hero in zip(names,heros):
    out13[name]=hero
out13

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [17]:
#with comp
out14={name:hero for name,hero in zip(names,heros)}
print(out14)
out15={name:hero for name,hero in zip(names,heros) if name !='Peter'}
print(out15)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}
{'Bruce': 'Batman', 'Clark': 'Superman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

US-6 COmprehesion for set()

In [18]:
my_list=[1,1,1,1,1,2,2,2,3,3,3,4,4,4,5,6,7,8]

In [19]:
#with set
out16=set(my_list)
list(out16)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
#without comp
out17=set()
for n in my_list:
    out17.add(n)
out17

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
#with COmp
out18={n for n in my_list}
list(out18)

[1, 2, 3, 4, 5, 6, 7, 8]

US-7 Generator comprehensio, I want to yield 'n*n' for each 'n' in nums

In [28]:
#without Comp
def yield_f(n):
    for n in num:
        yield n*n
my_gen=yield_f(num)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64

In [34]:
#with comp
out19=(n*n for n in num)

In [36]:
for i in out19:
    print(i)

1
4
9
16
25
36
49
64