In [1]:
import numpy as np
import pandas as pd

In [2]:
headers=['sepal_len','sepal_width','petal_len','petal_width','class']
df = pd.read_csv('myTestData.csv', header=None,names=headers)

In [3]:
df.head(10)

   sepal_len  sepal_width  petal_len  petal_width        class
0        5.1          3.5        1.4          0.2  Iris-setosa
1        4.9          3.0        1.4          0.2  Iris-setosa
2        4.7          3.2        1.3          0.2  Iris-setosa
3        4.6          3.1        1.5          0.2  Iris-setosa
4        5.0          3.6        1.4          0.2  Iris-setosa
5        5.4          3.9        1.7          0.4  Iris-setosa
6        4.6          3.4        1.4          0.3  Iris-setosa
7        5.0          3.4        1.5          0.2  Iris-setosa
8        4.4          2.9        1.4          0.2  Iris-setosa
9        4.9          3.1        1.5          0.1  Iris-setosa

In [4]:
df.describe(include='all')

         sepal_len  sepal_width   petal_len  petal_width            class
count   148.000000   148.000000  148.000000   148.000000              148
unique         NaN          NaN         NaN          NaN                3
top            NaN          NaN         NaN          NaN  Iris-versicolor
freq           NaN          NaN         NaN          NaN               50
mean      5.853378     3.054730    3.767568     1.202027              NaN
std       0.823830     0.436488    1.759299     0.761351              NaN
min       4.400000     2.000000    1.000000     0.100000              NaN
25%       5.100000     2.800000    1.600000     0.300000              NaN
50%       5.800000     3.000000    4.350000     1.300000              NaN
75%       6.400000     3.300000    5.100000     1.800000              NaN
max       7.900000     4.400000    6.900000     2.500000              NaN

#### count:
Count of values excluding NaN
Computed for all columns
#### unique:
Count of unique values excluding NaN
Computed only for categorical (non numeric) type of columns (or series)
#### top:
Most commonly occuring value among all values in a column (or series)
Computed only for categorical (non numeric) type of columns (or series)
#### freq:
Frequency (or count of occurance) of most commonly occuring value among all values in a column (or series)
Computed only for categorical (non numeric) type of columns (or series)
#### mean:
Mean (Average) of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
#### std:
Standard Deviation of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
#### min:
Minimum value of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
25%, 50%, 75%:
Given percentile values (quantile 1, 2 and 3 respectively) of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
#### max:
Maximum value of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)

##### Now, writing individual funtion for each features of describe menthod 

### Count

In [5]:
#This is applicable on all type of data numeric as well as categorical 
def count_method(df):
    count={}
    for col in df.columns:
        count[col]=df[col].count()
    return count

In [6]:
count=count_method(df)

In [7]:
print(count)

{'sepal_len': 148, 'sepal_width': 148, 'petal_len': 148, 'petal_width': 148, 'class': 148}

### Unique

In [8]:
#Only applicable on Categorical type of columns
def count_unique(val):
    count = 1
    for x in range(len(val)-1):
        if val[x] != val[x+1]:
            count += 1
    return count

def unique_method(df):
    unique={}
    for col in df.columns:
        if df[col].dtype == 'object':
            unique[col] = count_unique(list(df[col]))
        else :
            unique[col] = 'NaN'
    return unique

In [9]:
unique = unique_method(df)

In [10]:
print(unique)

{'sepal_len': 'NaN', 'sepal_width': 'NaN', 'petal_len': 'NaN', 'petal_width': 'NaN', 'class': 3}

### Top

In [32]:
#Only applicable on Categorical type of columns
def get_top(df,col):
    val=[]
    print(df[col].vlargest())
    val.append(df[col].value_counts())
    return np.array(val).max()
def top_method(df):
    
    top={}
    for col in df.columns:
        if df[col].dtype == 'object':
            top[col]=get_top(df,col)
        else:
            top[col]='NaN'
            
    return top

In [33]:
top=top_method(df)

AttributeError: 'Series' object has no attribute 'vlargest'

In [25]:
print(top)

{'sepal_len': 'NaN', 'sepal_width': 'NaN', 'petal_len': 'NaN', 'petal_width': 'NaN', 'class': 50}