In [28]:
data = [['Maharashta',112372972,307713,'Mumbai'],
        ['Bihar',103804637,94163,'Patna'],
        ['Rajasthan',68621012,342239,'Jaipur'],
        ['Karnataka',61130704,191791,'Bangaluru'],
        ['Gujrat',60383628,196024 ,'Gandhinagar']]

# Using Pandas

In [29]:
import pandas as pd

In [30]:
Headers=['States','Population','Area','Capital']
df=pd.DataFrame(data,columns=Headers)

In [31]:
df

       States  Population    Area      Capital
0  Maharashta   112372972  307713       Mumbai
1       Bihar   103804637   94163        Patna
2   Rajasthan    68621012  342239       Jaipur
3   Karnataka    61130704  191791    Bangaluru
4      Gujrat    60383628  196024  Gandhinagar

In [32]:
df.sort_values("States",ascending=True,inplace=True)

In [33]:
print(df)

       States  Population    Area      Capital
1       Bihar   103804637   94163        Patna
4      Gujrat    60383628  196024  Gandhinagar
3   Karnataka    61130704  191791    Bangaluru
0  Maharashta   112372972  307713       Mumbai
2   Rajasthan    68621012  342239       Jaipur

In [36]:
df.sort_values('Population',inplace=True,ascending=False)

In [37]:
print(df)

       States  Population    Area      Capital
0  Maharashta   112372972  307713       Mumbai
1       Bihar   103804637   94163        Patna
2   Rajasthan    68621012  342239       Jaipur
3   Karnataka    61130704  191791    Bangaluru
4      Gujrat    60383628  196024  Gandhinagar

# Using Lambda

To sort fisrt column

In [47]:
result = lambda data: data[0]

In [48]:
data.sort(key=result,reverse=False)

In [49]:
data

[['Bihar', 103804637, 94163, 'Patna'],
 ['Gujrat', 60383628, 196024, 'Gandhinagar'],
 ['Karnataka', 61130704, 191791, 'Bangaluru'],
 ['Maharashta', 112372972, 307713, 'Mumbai'],
 ['Rajasthan', 68621012, 342239, 'Jaipur']]